body {
  min-width: 375px;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden auto;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
body * {
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

svg * {
  pointer-events: none;
}

img,
img *,
svg,
svg * {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}